@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;800&family=Suez+One&display=swap');


@import"media";

body{
  background-color: #efefef !important;
}
#modal-search{
  display: none;
  width: 100%;
  height: 100%;
  background: #ffffff7a;
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  .fsearch{
   position: relative;
   width: 70%;
   margin: 0 auto;
   margin-top: 120px;
   h2{
    font-family: 'Suez One', serif;
    font-weight: 800;
    color:#882d2f;
    margin-bottom: 10px;
   }
   button{
     margin-top: 10px;
   }
 }
}

.navigation{
  background-color: #fff !important;
  margin-top: 20px;
  border-radius: 10px;
      .peper{
       transition: transform 600ms ease;
       &:hover {
        transform: rotate(360deg);
  }
 }
}
.row-1{
  background-color: #91292a;
  color: #fff;
  margin-top: 50px;
  border: 1px solid;
  border-color: #000;
  padding-left: 20px;
  .info {
  .mozila {
    border: 5px solid;
    border-color: #fff;
    }
  }
}
.row-3{
 margin-bottom: 30px;
  .card{
    margin-bottom: 25px;
  }
  .bodys{
    margin-top: 5px;
    .bodyright{
    background-color: #1597ac !important;
    border-radius: 5px;
    img{
      width: 90%;
      margin-left: 15px;
      margin-top: 15px;
    }
  }
 }
}

footer{
  margin-top: 150px;
  .downpage{
    height: 60px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
  }
}
